# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Local Spring Boot credentials/config
backend/application-local.properties

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
.vscode/
*.iml

# Java
*.class

# PostgreSQL / local data
*.db
